[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/youtube-dl-qt
Name=youtube-dl-qt
Comment=Media downloader for many streaming sites
Icon=youtube-dl-qt-icon.svg
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;

